body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.img-div {
  height: 50vh;
  width: auto;
  margin-top: 10vh;
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 0%;
  background: lightgray;
  color: white;
  opacity: 0.9;
  width: 100%;
}

.button-image {
  height: 100%;
  width: 100%;
}

#takeout-button {
  float: left;
  margin-left: 10%;
  margin-right: 5%;
}

#eat-in-button {
  float: left;
  margin-right: 4%;
  margin-left: 10%;
}

.img-text {
  text-align: center;
  opacity: 1.5;
  margin: auto;
}
